/*Make a cool css for the about section*/
.about {
  padding: 50px 0;
  text-align: center;
}

.about .content {
  width: 80%;
  margin: auto;
}

textarea{
  background-color:inherit;
}



.btn{
  margin: 10px;
}

.profilePicture{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
  margin-bottom: 20px;
}

.middle-picture{
  background-color: rgba(255, 255, 255, 0.50);
}

.picture-view{
  background-size: cover;
  background-position: center;
}
.profilePicture:hover .middle-picture{
  display: flex !important;
  cursor: pointer;
}